<!DOCTYPE html>
<html>
    <body style="background-image: url('https://wallpaperaccess.com/full/3985814.jpg'); background-size: cover;>
        <div class="bg-image" style=" ">

            <div class="container-fluid p-5">
                <div class="container bg-light shadow p-3 mb-5 bg-body rounded" style="height: 495px">
                    <ul class="d-flex justify-content-around style-list-none" >
                    <form class="container-fluid">
                        <div class="form-group col-3 p-3">
                            <label for="exampleFormControlInput1">Name:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="kleber kunha">
                        </div>
                        <div class="form-group col-3 p-3" style="margin-top: -15px">
                            <label for="exampleFormControlInput1">E-mail:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="kleberkunha54684@hotmail.com">
                        </div>
                        <div class="form-group p-3">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control"  rows="4"></textarea>
                            <button class="btn btn-primary pt-1" style="margin-top: 5px;">Send</button>
                        </div>
                        <div class="container-fluid text-center">
                            <h4>We will be in contact soon as we can!</h4>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container-fluid " style="margin-top: 242px;">
                <div class="container text-center">
                    <h6>Copyright&#169; of no one</h6>
                </div>
            </div>
        </div>
    </body>
</html>