<!DOCTYPE html>
<html>
    <header>

    </header>
    
    <body style="background-image: url('https://i.pinimg.com/originals/9a/0f/7f/9a0f7fc7712c59cff4d992c2eb94dbe6.jpg'); background-size: cover;">
        <div class="container pb-5" style="min-height:400px">

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 ">
                <img src="https://www.imagup.com/wp-content/uploads/2020/01/CS-GO.jpg" class="d-block mx-lg-auto img-fluid" alt="Bali" width="700" height="500" loading="lazy">
            </div>

            
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">A droite, ce sont nos bureaux</h1>
                <p class="lead">On recrute, les projets sont intéréssants et le babyfoot est gratuit. Contactez nous.</p>
            </div>
            </div>
        </div>
            <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Caroline</h5>
                    <p class="card-text">Pourquoi vous voulez arrêter ? Ca fait que 13 heures qu'on bosse.</p>
                    <a href="https://github.com/cmarion-mq" class="btn btn-primary">Mon GitHub</a>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Kleber</h5>
                    <p class="card-text">J'amène la jungle amazonienne dans votre code</p>
                    <a href="https://github.com/kleberkunha" class="btn btn-primary">Mon GitHub</a>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Laurent</h5>
                    <p class="card-text">Vers l'infini et au dela .... mais pas trop vite.</p>
                    <a href="https://github.com/MaxiApplePie" class="btn btn-primary">Mon GitHub</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container-fluid p-2" style="margin-top: 230px;">
            <div class="container text-center" style="color: white;">
                <p>Copyright &#169; of no one</p>
            </div>
        </div>
    </body>
</html>